<table>
  <thead>
    <tr [ngStyle]="headerStyleChanged ? { color: 'orange' } : {}">
      <th>ID</th>
      <th>Nombre</th>
      <th>Email</th>
      <th *ngIf="!showExtraColumns">Edad</th>
      <th *ngIf="!showExtraColumns">Ciudad</th>
      <th *ngIf="showExtraColumns">Activo</th>
      <th *ngIf="showExtraColumns">Teléfono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td *ngIf="!showExtraColumns">{{ user.age }}</td>
      <td *ngIf="!showExtraColumns">{{ user.city }}</td>
      <td *ngIf="showExtraColumns">{{ user.active ? "Sí" : "No" }}</td>
      <td *ngIf="showExtraColumns">{{ user.phone }}</td>
    </tr>
  </tbody>
</table>

<button (click)="toggleHeaderStyle()">Cambiar columnas y estilo</button>
